<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcm.system.mapper.FunctionMapper">
    <sql id="functionInfo">
        function_id
        functionId,
      function_name_cn functionNameCn,
      function_name_en functionNameEn,
      function_description_cn functionDescriptionCn,
      function_description_en functionDescriptionEn,
      function_key functionKey,
      update_by updateBy,
      update_time updateTime,
      create_by createBy,
      create_time createTime,
      status
    </sql>
    <select id="getFunctionList" resultType="com.hcm.common.core.entity.SysFunction">
        select <include refid="functionInfo"></include> from sys_function
    </select>

    <select id="getPermIdListByFunId" resultType="Long">
        select menu_id menuId
        from sys_function_menu
        where function_id = #{functionId}
    </select>

    <update id="editFunctionInfo">
        update sys_function
        set function_name_cn        = #{functionVo.functionNameCn},
            function_name_en        = #{functionVo.functionNameEn},
            function_key            = #{functionVo.functionKey},
            function_description_cn = #{functionVo.functionDescriptionCn},
            function_description_en = #{functionVo.functionDescriptionEn},
            update_time             = now()
    </update>

    <insert id="insertFunctionPermInfo">
        insert into sys_function_menu (function_id,menu_id,create_time) values
        <trim prefix="" suffixOverrides=",">
            <foreach collection="perms" item="menuId">
                (#{functionId},#{menuId},now()),
            </foreach>
        </trim>
    </insert>

    <delete id="deleteFunctionPermInfo">
        delete from sys_function_menu where (function_id,menu_id) in
        <trim prefix="(" suffixOverrides="," suffix=")">
            <foreach collection="perms" item="menuId">
                (#{functionId},#{menuId}),
            </foreach>
        </trim>
    </delete>
</mapper>