<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcm.system.mapper.I18nMapper">
    <sql id="i18n">
        i
        .
        i18n_id
        i18nId,
        i.locale locale,
        i.module module,
        i.key key,
        i.value value,
        i.create_time createTime,
    </sql>

    <sql id="condition">
        <if test="i18n.key != null and i18n.key != ''">
            and i.key like concat('%', #{i18n.key}, '%')
        </if>
        <if test="i18n.value != null and i18n.value != ''">
            and i.value like concat('%', #{i18n.value}, '%')
        </if>
        <if test="i18n.locale != null and i18n.locale != ''">
            and i.locale like concat('%', #{i18n.locale}, '%')
        </if>
    </sql>

    <select id="getI18nList" resultType="com.hcm.common.core.entity.SysI18n">
        select
        <include refid="i18n"/>
        from sys_i18n i where 1 = 1
        <include refid="condition"/>
    </select>

    <insert id="addI18n">
        insert into sys_i18n (locale, module, key, value, create_time, create_by)
        values (#{i18n.locale}, #{i18n.module}, #{i18n.key}, #{i18n.value}, now(), #{i18n.createBy})
    </insert>

    <update id="editI18n">
        update sys_i18n i
        set i.locale      = #{i18n.locale},
            i.module      = #{i18n.module},
            i.key         = #{i18n.key},
            i.value       = #{i18n.value},
            i.update_by   = #{i18n.updateBy},
            i.update_time = now()
        where i.i18n_id   = #{i18n.i18nId}
    </update>
</mapper>