<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcm.system.mapper.UserMapper">
    <sql id="userInfo">
        user_id
        userId,
        nick_name nickName,
        user_name userName,
        dept_id deptId,
        avatar
    </sql>
    <select id="getNameAndPasswordByName" resultType="com.hcm.common.core.entity.SysUser">
        select
        <include refid="userInfo"/>,
        password
        from sys_user where user_name = #{username}
    </select>

    <select id="getUserInfoByName" resultType="com.hcm.common.core.entity.SysUser">
        select
        <include refid="userInfo"/>
        from sys_user where user_name = #{username}
    </select>

    <select id="getUserRolesById" resultType="Long">
        select role_id from sys_user_role where user_id  = #{userId}
    </select>

    <select id="getUserPermissionById" resultType="String">
        select perms from sys_user u
            left join  sys_user_role s on u.user_id = s.user_id
            left join sys_role_menu ss on s.role_id = ss.role_id
            left join sys_menu m on ss.menu_id = m.menu_id
        where u.user_id = #{userId}
    </select>

    <insert id="insertUser">
        insert into sys_user (user_name,password,nick_name) values (#{sysUser.userName},#{sysUser.password},#{sysUser.userName})
    </insert>
</mapper>