<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcm.system.mapper.UserMapper">
    <sql id="userInfo">
        user_id
        userId,
        nick_name nickName,
        user_name userName,
        dept_id deptId,
        avatar
    </sql>
    <select id="getNameAndPasswordByName" resultType="com.hcm.common.core.entity.SysUser">
        select
        <include refid="userInfo"/>,
        password
        from sys_user where user_name = #{username}
    </select>

    <select id="getUserInfoByName" resultType="com.hcm.common.core.entity.SysUser">
        select
        <include refid="userInfo"/>
        from sys_user where user_name = #{username}
    </select>

    <select id="getUserRolesById" resultType="Long">
        select role_id
        from sys_user_role
        where user_id = #{userId}
    </select>



    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user (user_name, password, nick_name, status, user_type)
        values (#{sysUser.userName}, #{sysUser.password}, #{sysUser.nickName}, 1, #{sysUser.userType})
    </insert>

    <insert id="insertUserRole">
        insert into sys_user_role (user_id,role_id) values
        <foreach collection="user.roleList" item="role" separator=",">
            (#{user.userId},#{role.roleId})
        </foreach>
    </insert>
</mapper>